.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
}

table {
    text-align: left;
    transition: opacity .4s ease-in-out, visibility .4s;
}

.maps-holder {
    padding-top: 1em;
    display: flex;
    gap: 10px;
}

.maps-holder.overlay > .map-container {
    border: 2px solid white;
    position: absolute;
    min-width: 100%;
}

.maps-holder.overlay > .top {
    z-index: 1;
    position: relative;
    top: 30px;
    left: 30px;
}

.map-container, .map {
    height: 600px;
    width: 100%;
}